.AppleDouble/
*.py[cod]
.DS_Store

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/scopes/scope_settings.xml
.idea/testrunner.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
k9os.iml
Iconr
arduino/panel/libraries/LiquidCrystal/LiquidCrystal
arduino/panel/libraries/aJson/aJson
