{% extends "layout.html" %}
{% block content %}
<script type="text/javascript">
    setTimeout(function(){
        location = ''
    },5000)
</script>
        <h2>System Time is : {{ time }} UTC</h2>
        <h2>Running Time is : {{ uptime }} </h2>

        <p><a class="btn btn-danger btn-lg active"
              role="button" href="/restart">Reboot</a>
        </p>

        <p><a class="btn btn-danger btn-lg active"
              role="button" href="/shutdown">Shut Down</a>
        </p>

        <h2>Heading is : {{ heading }} Degrees</h2>
        <h2>Range to Obstacle is : {{ range }} Inches</h2>



{% endblock %}
