{% extends "layout.html" %}
{% block content %}
    <p>Control the lights on the dorsal control panel</p>
    <p><a class="btn btn-primary btn-lg active"
          role="button" href="/animate/vertical_sweep_right">Sweep Right</a>
    </p>
    <p><a class="btn btn-primary btn-lg active"
          role="button" href="/animate/vertical_sweep_left">Sweep Left</a>
    </p>
    <p><a class="btn btn-primary btn-lg active"
          role="button" href="/animate/random">Random</a>
    </p>
    <p><a class="btn btn-primary btn-lg active"
          role="button" href="/animate/right_arrow">Right Arrow</a>
    </p>
    <p><a class="btn btn-primary btn-lg active"
          role="button" href="/animate/left_arrow">Left Arrow</a>
    </p>

    <p><a class="btn btn-primary btn-lg active"
          role="button" href="/animate/cancel">Cancel Animaiton</a>
    </p>
{% endblock %}
